<!DOCTYPE html>
<html>
  <head>
    <title>Transcendence</title>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <body>
    <div id="app"></div>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>

